.Employees-container {
    border-left : 1px solid gray;
    border-right : 1px solid gray;
}

.Employees-search {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Employees-table {
    margin-top: 20px;
}