.Header-heading {
    background-color: blue;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 4px solid black;
    margin-bottom: 20px;

}

.Header-instructions {
    padding-top: 20px;
    
}