.Employeesd-container {
    border-left : 1px solid gray;
    border-right : 1px solid gray;
}

.Employeesd-search {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Employeesd-table {
    margin-top: 20px;
}